/* src/index.css */

@import "tailwindcss";

/* 
  1. Traduzindo 'theme.extend.colors' usando @theme 
  
  -- Backgrounds --
  -- Typography Colors --
  -- Accents --
  -- Extra for text/elements --
*/
@theme {
  --color-bg-body: #09090b;
  --color-bg-card: #18181b;
  --color-bg-card-1: "";
  --color-bg-hover: #27272a;
  --color-border-subtle: #3f3f46;
  
  --color-text-main: #f4f4f5;
  --color-text-muted: #a1a1aa;
  
  --color-accent-primary: #818cf8;
  --color-accent-glow-bg: rgba(129, 140, 248, 0.15);
  --color-success: #34d399;

  --color-ubl-green: #29ad7a;
  --color-ubl-blue: #406fb5;

  
  --color-zinc-300-light: #d4d4d8;
  --color-zinc-700-dark: #52525b;
}

/* ... o restante das configurações virá abaixo ... */