@import "tailwindcss";

:root {

}


body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
  width: 100%; 
}

.ubl-bg-green {
    background-color: #34D399; /* Um verde suave */
}

.ubl-bg-blue {
    background-color: #3B82F6; /* Um azul vibrante */
}

/* Cores de texto */
.ubl-text-gradient {
    background: linear-gradient(to right, #6EE7B7, #3B82F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ubl-text-green {
    color: #34D399;
}

.ubl-text-blue {
    color: #3B82F6;
}